body {
  margin: 0;
  padding: 0;
  background: 
  #3351a2;
  color: #f6fafe;
  font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

#root {
  margin: 0 24px;
  position: relative;
  min-height: 100vh;
}